body {
    margin: 10px;
    background-color: rgb(209, 220, 221);
}

.image {
    display: block;
    margin-left: 525px;
    margin-right: auto;
    width: 50%;
  }

.info  {
    border: solid 3px rgb(255, 0, 0);
}

.skills {
    border: solid 3px rgb(255, 0, 0);
}

.employment {
    border: solid 3px rgb(255, 0, 0);
}

.responibilities {
    border: solid 3px rgb(255, 0, 0);
}

.military {
    border: solid 3px rgb(255, 0, 0);
}

.contact {
    display: block;
    margin-left: 550px;
    margin-right: auto;
    width: 50%;
}


footer { display: block;
    margin-left: 525px;
    margin-right: auto;
    width: 50%;}

h1 , h2, h3 { 
    text-align: center;
} 

p {
    text-align: center;
}

